<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OmegaTestSuite">
	<listeners>
		<listener class-name="com.ea.wwce.automation.base.util.listeners.BaseListener" />
	</listeners>
	<test name="ChromeTests">
		<parameter name="executionMode" value="local" />
		<parameter name="platform" value="WEB" />
		<parameter name="operatingSystem" value="WINDOWS" />
		<parameter name="browserName" value="Chrome" />
		<parameter name="browserVersion" value="52" />
		<parameter name="automationName" value="Test" />
		<parameter name="testEnvironment" value="RUNFC" />
		<parameter name="deviceName" value="" />
		<parameter name="appPackage" value="" />
		<parameter name="appActivity" value="" />
		<parameter name="applicationId" value="" />
		<parameter name="bundleId" value="" />
		<parameter name="appiumURL" value="" />
		<parameter name="planId" value="7" />
		<parameter name="testType" value="Regression" />
		<classes>
			<class name="com.ea.wwce.automation.omega.tests.OmegaLoginTest" />
		</classes>
	</test>
</suite>