galen.range.approximation=3

# Fullscreen screenshots
galen.browser.screenshots.fullPage = true
galen.browser.screenshots.fullPage.scrollWait = 10

# Exit with fail code in case of any failures
galen.use.fail.exit.code = true

# Default value for tolerance in image spec
galen.spec.image.tolerance = 30

# Default value for error rate in image spec
galen.spec.image.error = 0px

// to disable reporting in your tests
GalenPages.settings.allowReporting = true

galen.test.java.report.outputFolder=target/galen-html-reports

galen.log.level = 10